---
layout: default
---

<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>Publications</h1>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Here you can find my Bachelor's and Master's Theses, the papers created for various classes during my academic years, and publications (for now just one) in which I took part in.</h3>
<br>

<h2> Theses </h2>
<ul style="margin-left: 2em;">
	<li>
		<i>Multi-Scale Region of Interest Pooling for Facial Action Unit Detection</i>
		<br/>
		MSc Computer Science and Engineering
		<br/>
		<b>Politecnico di Milano - University of Illinois at Chicago</b>
		<br/>
		Prof. <a href='https://ece.uic.edu/profiles/ahmet-enis-cetin-phd/'>Ahmet Enis Cetin</a>, Prof. <a href='https://www.deib.polimi.it/eng/people/details/1439980'>Mark Carman</a>
		<br/>
		<a href= "/docs/ms_thesis.pdf">Publication (.pdf)</a>
	</li>
	<br>
	<li>
		<i>Image deblurring for grayscale images using Wavelet Transform</i>
		<br/>
		BSc Computer Science and Engineering
		<br/>
		<b>Università degli Studi di Firenze</b>
		<br/>
		Prof. <a href='https://www.unifi.it/p-doc2-2018-0-A-2b333931392a-0.html'>Fabrizio Argenti</a>
		<br/>
		<a href= "/docs/bs_thesis.pdf">Publication (.pdf)</a> and <a href= "/docs/bs_slides.pdf">slides (.pdf)</a> (only available in Italian).
	</li>
</ul>

<br>

<h2> Publications </h2>
<ul style="margin-left: 2em;">
	<li>
		G. Menchetti, Z. Chen, D. J. Wilkie, R. Ansari, Y. Yardimci and A. E. Çetin. <i>Pain Detection from Facial Videos Using Two-Stage Deep Learning</i>, 2019 IEEE Global Conference on Signal and Information Processing (GlobalSIP), Ottawa, ON, Canada, 2019, pp. 1-5. [<a href="https://ieeexplore.ieee.org/document/8969274">link</a>]
	</li>
</ul>

<br>

<h2> Other papers </h2>
<ul style="margin-left: 2em;">
	<li>
		G. Menchetti, L. Norcini and F. Sandrelli. <i>Answering Binary Questions on Products In A Noisy Setting</i>, Natural Language Processing class project, UIC, 2018. [<a href="/docs/NLP_paper">link</a>]
	</li>
</ul>
<br>
<ul style="margin-left: 2em;">
	<li>
		G. Menchetti and L. Norcini. <i>Sales Prediction</i>, Data Mining and Text Mining class project, Politecnico di Milano, 2018. Paper [<a href="/docs/DMTM_paper">link</a>] and GitHub project [<a href="https://github.com/gmenchetti/Sales-Prediction">link</a>]
	</li>
</ul>