---
layout: default
---

<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>Slides and Notes</h1>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>This page contains a collection of presentations and notes from my academic years.</h3>
<br>

<h2> Presentations </h2>
<ul style="margin-left: 2em;">
	<li>
		TODO: Travlendar
	</li>
</ul>
<br>
<ul style="margin-left: 2em;">
	<li>
		TODO: DMTM
	</li>
</ul>
<br>
<ul style="margin-left: 2em;">
	<li>
		TODO: NLP
	</li>
</ul>
<br>
<ul style="margin-left: 2em;">
	<li>
		TODO: RecSys
	</li>
</ul>
<br>

<h2> Notes </h2>
<ul style="margin-left: 2em;">
	<li>
		TODO: Travlendar documents
	</li>
</ul>
<ul style="margin-left: 2em;">
	<li>
		TODO: Formal Methods document
	</li>
</ul>
<br>