  
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Ciao 👋</h2>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
	Welcome to my personal page! I am Guglielmo Menchetti, a Computer Science and Engineering student in a Double Master Degree program between <a href="https://www.polimi.it/">Politecnico di Milano</a> and <a href="https://www.uic.edu/">University of Illinois at Chicago.</a> 
	<br>
	I am passionate about Software Development and Machine Learning, in particular Deep Learning applications in Computer Vision.
	<br>
	I am also a wine lover 🍷 and an apprentice climber 🧗.
	<br>
	For more information about my self, you can download my most updated <a href="docs/GuglielmoMenchetti_resume.pdf">resume</a>.
</p>
<hr>
<br>